body{
    background-color: yellowgreen
}

header{
    display: flex;
    background-color: yellowgreen
}

h1{
   
    text-align: center;
    width: 100vw;
    height: 20vh;
    background-color: yellowgreen;
}

button{
    width: 50vw;
    height: 15vh;
    background-color: yellow;
}


div{
    background-color: black;
}

.primeira{
    width: 50vw;
    height: 60vh;
}